<section class="bestsellers-section" id="bestsellers">
  <div class="container">
    <h2 class="bestsellers-header">bestsellers</h2>
    <ul class="bestsellers-list">
      <li class="bestsellers-list-item">
        <a
          href=""
          class="bestsellers-card"
          target="_blank"
          rel="noopener noreferrer"
          title="link to the king size bed"
        >
          <picture class="bestsellers-pic top-pic">
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/bestellers/dekstop/bestellers1_desk.webp    1x,
                /img/bestellers/dekstop/bestellers1_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/bestellers/dekstop/bestellers1_desk.jpg    1x,
                /img/bestellers/dekstop/bestellers1_desk@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/bestellers/tablet/bestellers1_tab.webp    1x,
                /img/bestellers/tablet/bestellers1_tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/bestellers/tablet/bestellers1_tab.jpg    1x,
                /img/bestellers/tablet/bestellers1_tab@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(max-width: 767.9px)"
              srcset="
                /img/bestellers/mobile/bestellers1_mob.webp    1x,
                /img/bestellers/mobile/bestellers1_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.9px)"
              srcset="
                /img/bestellers/mobile/bestellers1_mob.jpg    1x,
                /img/bestellers/mobile/bestellers1_mob@2x.jpg 2x
              "
              type="image/jpeg"
            />

            <img
              src="../img/bestellers/dekstop/bestellers1_desk.jpg"
              alt="king size bed with pillows"
              class="bestsellers-picture top-picture"
              width="343"
              height="193"
              loading="lazy"
            />
          </picture>
          <div class="bestsellers-card-content">
            <h3 class="bestsellers-descr">The modern platform bed</h3>
            <p class="bestsellers-price">750&#36;</p>
          </div>
        </a>
      </li>
      <li class="bestsellers-list-item-tab-desc">
        <ul class="bestsellers-list-tab-desc">
          <li class="bestsellers-list-item">
            <a
              href=""
              class="bestsellers-card"
              target="_blank"
              rel="noopener noreferrer"
              title="link to the cozy lounge chair"
            >
              <picture class="bestsellers-pic">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/bestellers/dekstop/bestellers2_desk.webp    1x,
                    /img/bestellers/dekstop/bestellers2_desk@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/bestellers/dekstop/bestellers2_desk.jpg    1x,
                    /img/bestellers/dekstop/bestellers2_desk@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/bestellers/tablet/bestellers2_tab.webp    1x,
                    /img/bestellers/tablet/bestellers2_tab@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/bestellers/tablet/bestellers2_tab.jpg    1x,
                    /img/bestellers/tablet/bestellers2_tab@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(max-width: 767.9px)"
                  srcset="
                    /img/bestellers/mobile/bestellers2_mob.webp    1x,
                    /img/bestellers/mobile/bestellers2_mob@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767.9px)"
                  srcset="
                    /img/bestellers/mobile/bestellers2_mob.jpg    1x,
                    /img/bestellers/mobile/bestellers2_mob@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="../img/bestellers/dekstop/bestellers2_desk.jpg"
                  alt="turquoice chairs with wooden legs"
                  class="bestsellers-picture"
                  width="343"
                  height="193"
                  loading="lazy"
                />
              </picture>
              <div class="bestsellers-card-content">
                <h3 class="bestsellers-descr">The Cozy Lounge Chair</h3>
                <p class="bestsellers-price">230&#36;</p>
              </div>
            </a>
          </li>
          <li class="bestsellers-list-item">
            <a
              href=""
              class="bestsellers-card"
              target="_blank"
              rel="noopener noreferrer"
              title="link to the industrial accent chair"
            >
              <picture class="bestsellers-pic">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/bestellers/dekstop/bestellers3_desk.webp    1x,
                    /img/bestellers/dekstop/bestellers3_desk@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/bestellers/dekstop/bestellers3_desk.jpg    1x,
                    /img/bestellers/dekstop/bestellers3_desk@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/bestellers/tablet/bestellers3_tab.webp    1x,
                    /img/bestellers/tablet/bestellers3_tab@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/bestellers/tablet/bestellers3_tab.jpg    1x,
                    /img/bestellers/tablet/bestellers3_tab@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(max-width: 767.9px)"
                  srcset="
                    /img/bestellers/mobile/bestellers3_mob.webp    1x,
                    /img/bestellers/mobile/bestellers3_mob@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767.9px)"
                  srcset="
                    /img/bestellers/mobile/bestellers3_mob.jpg    1x,
                    /img/bestellers/mobile/bestellers3_mob@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="../img/bestellers/dekstop/bestellers3_desk.jpg"
                  alt="mesh black chair with pillow"
                  class="bestsellers-picture"
                  width="343"
                  height="193"
                  loading="lazy"
                />
              </picture>
              <div class="bestsellers-card-content">
                <h3 class="bestsellers-descr">The industrial accent chair</h3>
                <p class="bestsellers-price">250&#36;</p>
              </div>
            </a>
          </li>
          <li class="bestsellers-list-item">
            <a
              href=""
              class="bestsellers-card"
              target="_blank"
              rel="noopener noreferrer"
              title="link to the sleek stand"
            >
              <picture class="bestsellers-pic">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/bestellers/dekstop/bestellers4_desk.webp    1x,
                    /img/bestellers/dekstop/bestellers4_desk@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/bestellers/dekstop/bestellers4_desk.jpg    1x,
                    /img/bestellers/dekstop/bestellers4_desk@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/bestellers/tablet/bestellers4_tab.webp    1x,
                    /img/bestellers/tablet/bestellers4_tab@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/bestellers/tablet/bestellers4_tab.jpg    1x,
                    /img/bestellers/tablet/bestellers4_tab@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="../img/bestellers/dekstop/bestellers4_desk.jpg"
                  alt="wooden cabinet with vases"
                  class="bestsellers-picture"
                  width="343"
                  height="193"
                  loading="lazy"
                />
              </picture>
              <div class="bestsellers-card-content">
                <h3 class="bestsellers-descr">The sleek stand</h3>
                <p class="bestsellers-price">300&#36;</p>
              </div>
            </a>
          </li>
          <li class="bestsellers-list-item">
            <a
              href=""
              class="bestsellers-card"
              target="_blank"
              rel="noopener noreferrer"
              title="link to the minimalist sofa"
            >
              <picture class="bestsellers-pic">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/bestellers/dekstop/bestellers5_desk.webp    1x,
                    /img/bestellers/dekstop/bestellers5_desk@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/bestellers/dekstop/bestellers5_desk.jpg    1x,
                    /img/bestellers/dekstop/bestellers5_desk@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/bestellers/tablet/bestellers5_tab.webp    1x,
                    /img/bestellers/tablet/bestellers5_tab@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/bestellers/tablet/bestellers5_tab.jpg    1x,
                    /img/bestellers/tablet/bestellers5_tab@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="../img/bestellers/dekstop/bestellers5_desk.jpg"
                  alt="grey fabric sofa"
                  class="bestsellers-picture"
                  width="343"
                  height="193"
                  loading="lazy"
                />
              </picture>
              <div class="bestsellers-card-content">
                <h3 class="bestsellers-descr">The minimalist sofa</h3>
                <p class="bestsellers-price">650&#36;</p>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
