<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo-link" href="./index.html" target="_self" title="company logo">
        <svg class="logo-icon">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-list-item">
            <a class="nav-link" href="#occupation">About us</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="#products">Our products</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="#prices">Prices</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="#contacts">Contacts</a>
        </li>
    </ul>
    </nav>
    <button class="burger-menu-btn js-open-menu" type="button">
      <svg class="burger-menu-icon">
        <use href="./img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
