<section class="prices-section" id="prices">
  <div class="container">
    <h2 class="prices-header visually-hidden">
      Chairs Tables Dressers Sofas Price
    </h2>
    <ul class="prices-list">
      <li class="prices-list-item">
        <button type="button" class="prices-list-btn">chairs</button>
        <p class="prices-list-value">from 200&#8372;</p>
      </li>
      <li class="prices-list-item">
        <button type="button" class="prices-list-btn">tables</button>
        <p class="prices-list-value">from 250&#8372;</p>
      </li>
      <li class="prices-list-item">
        <button type="button" class="prices-list-btn">dressers</button>
        <p class="prices-list-value">from 300&#8372;</p>
      </li>
      <li class="prices-list-item">
        <button type="button" class="prices-list-btn">sofas</button>
        <p class="prices-list-value">from 500&#8372;</p>
      </li>
    </ul>
  </div>
</section>
