<section class="products-section" id="products">
  <div class="container">
    <h2 class="products-header">OUR PRODUCTS</h2>
    <ul class="products-list">
      <li class="products-item">
        <a class="products-link" href="#">
          <picture>
            <source
              srcset="
                /img/product/mobile/product1_mob.webp    1x,
                /img/product/mobile/product1_mob@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:767.9px)"
            />
            <source
              srcset="
                /img/product/mobile/product1_mob.jpg    1x,
                /img/product/mobile/product1_mob@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:767.9px)"
            />
            <source
              srcset="
                /img/product/tablet/product1_tab.webp    1x,
                /img/product/tablet/product1_tab@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:1439.9px)"
            />
            <source
              srcset="
                /img/product/tablet/product1_tab.jpg    1x,
                /img/product/tablet/product1_tab@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:1439.9px)"
            />

            <source
              srcset="
                /img/product/desktop/product1_desk.webp    1x,
                /img/product/desktop/product1_desk@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/product/desktop/product1_desk.jpg    1x,
                /img/product/desktop/product1_desk@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1440px)"
            />
            <img
              class="products-images"
              src="../img/product/desktop/product1_desk.jpg"
              alt="Minimalist iterior chest of drawers, flower, floor lamp"
            />
          </picture>
          <p class="products-subtitle">Minimalist storage solutions</p>
        </a>
      </li>
      <li class="products-item products-mobile-hidden">
        <a class="products-link" href="#">
          <picture>
            <source
              srcset="
                /img/product/tablet/product2_tab.webp    1x,
                /img/product/tablet/product2_tab@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:1439.9px)"
            />
            <source
              srcset="
                /img/product/desktop/product2_desk.webp    1x,
                /img/product/desktop/product2_desk@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1440px)"
            />
            <img
              class="products-images"
              src="../img/product/desktop/product2_desk.jpg"
              alt="blue sofa with beige cushion"
            />
          </picture>
          <p class="products-subtitle">Handcrafted minimalist seating</p>
        </a>
      </li>
      <li class="products-item products-desk-hidden">
        <a class="products-link" href="#">
          <picture>
            <source
              srcset="
                /img/product/desktop/product3_desk.webp    1x,
                /img/product/desktop/product3_desk@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1440px)"
            />
            <img
              class="products-images"
              src="../img/product/desktop/product3_desk.jpg"
              alt="simple table with two chairs"
            />
          </picture>
          <p class="products-subtitle">Sleek and simple tables</p>
        </a>
      </li>
      <li class="products-item products-desk-hidden">
        <a class="products-link" href="#">
          <picture>
            <source
              srcset="
                /img/product/desktop/product4_desk.webp    1x,
                /img/product/desktop/product4_desk@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1440px)"
            />
            <img
              class="products-images"
              src="../img/product/desktop/product4_desk.jpg"
              alt="simple chair with soft blue seat"
            />
          </picture>
          <p class="products-subtitle">Minimalist seating for every space</p>
        </a>
      </li>
    </ul>
  </div>
</section>
