<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="clients-title">Clients reviews</h2>
    <ul class="clients-list">
      <li class="clients-list-item">
        <a href="#" class="clients-link">
          <div class="clients-info">
            <picture>
              <source
                srcset="
                  img/clients/mobile/clients1_mob.jpg    1x,
                  img/clients/mobile/clients1_mob@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width:767.9px)"
              />
              <source
                srcset="
                  img/clients/mobile/clients1_mob.webp    1x,
                  img/clients/mobile/clients1_mob@2x.webp 2x
                "
                type="image/webp"
                media="(max-width:767.9px)"
              />
              <source
                srcset="
                  img/clients/tablet/clients1_tab.jpg    1x,
                  img/clients/tablet/clients1_tab@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  img/clients/tablet/clients1_tab.webp    1x,
                  img/clients/tablet/clients1_tab@2x.webp 2x
                "
                type="image/webp"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  img/clients/desktop/clients1_desk.jpg    1x,
                  img/clients/desktop/clients1_desk@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  img/clients/desktop/clients1_desk.webp    1x,
                  img/clients/desktop/clients1_desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width:1440px)"
              />
              <img
                class="clients-img"
                src="../img/clients/mobile/clients1_mob.jpg"
                alt="Alexandra Dream"
                width="56"
                height="56"
                loading="lazy"
              />
            </picture>
            <div class="tumb-clients">
              <h3 class="clients-suptitle">Alexandra Dream</h3>
              <p class="clients-time">1 week ago</p>
            </div>
          </div>
          <p class="clients-text">
            I was blown away by the quality and craftsmanship of the furniture I
            received from this company. Each piece was unique and beautifully
            designed, and you can tell that a lot of thought and care goes into
            every detail.
          </p>
        </a>
      </li>

      <li class="clients-list-item review-hidden">
        <a href="#" class="clients-link">
          <div class="clients-info">
            <picture>
              <source
                srcset="
                  img/clients/tablet/clients2_tab.jpg    1x,
                  img/clients/tablet/clients2_tab@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  img/clients/tablet/clients2_tab.webp    1x,
                  img/clients/tablet/clients2_tab@2x.webp 2x
                "
                type="image/webp"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  img/clients/desktop/clients2_desk.jpg    1x,
                  img/clients/desktop/clients2_desk@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  img/clients/desktop/clients2_desk.webp    1x,
                  img/clients/desktop/clients2_desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width:1440px)"
              />
              <img
                class="clients-img"
                src="../img/clients/tablet/clients2_tab.jpg"
                alt="Emily Watson"
                width="56"
                height="56"
                loading="lazy"
              />
            </picture>
            <div class="tumb-clients">
              <h3 class="clients-suptitle">James Williams</h3>
              <p class="clients-time">3 week ago</p>
            </div>
          </div>
          <p class="clients-text">
            The "Minimal" furniture set is a fantastic addition to my home. It
            boasts a minimalist design, enhancing the feel and look of my living
            space. The sturdy construction is worth noting too, which speaks
            volumes about its durability.
          </p>
        </a>
      </li>
      <li class="clients-list-item review-hidden-tablet">
        <a href="#" class="clients-link">
          <div class="clients-info">
            <picture>
              <source
                srcset="
                  img/clients/desktop/clients3_desk.jpg    1x,
                  img/clients/desktop/clients3_desk@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  img/clients/desktop/clients3_desk.webp    1x,
                  img/clients/desktop/clients3_desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width:1440px)"
              />
              <img
                class="clients-img"
                src="../img/clients/desktop/clients3_desk.jpg"
                alt="James Williams"
                width="56"
                height="56"
                loading="lazy"
              />
            </picture>
            <div class="tumb-clients">
              <h3 class="clients-suptitle">Emily Watson</h3>
              <p class="clients-time">A week ago</p>
            </div>
          </div>
          <p class="clients-text">
            The "Minimal" furniture set has far exceeded my expectations. The
            sleek design combined with the high-quality materials have not only
            added an exceptional aesthetic to my space but also offered an
            uncompromising standard of comfort.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
