.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: block;
  padding-top: 36px;
  padding-bottom: 38px;
}

@media screen and (min-width: 768px) and (max-width: 1439px){
  .logo-link {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.logo-icon {
  width: 100px;
  height: 16px;
  fill: #0A224A;
}

@media screen and (min-width: 768px) and (max-width: 1439px){
  .logo-icon {
    width: 127px;
  }
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
    gap: 30px;
  }
}

.nav-link {
  display: block;
  position: relative;
  font-size: 18px;
  color: #0A224A;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0A224A;
  transition: width 1s,left 1s;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
  left: 0;
}

@media screen and (min-width: 1440px) {
  .burger-menu-btn {
    display: none;
  }
}

.burger-menu-icon {
  width: 32px;
  height: 32px;
  fill: #0A224A;
  stroke: #0A224A;
}

@media screen and (min-width: 768px) and (max-width: 1439px){
  .burger-menu-icon {
    width: 40px;
    height: 40px;
  }
}
